extend layout_admin

block content
  h2 Admin Login
  
  #adminLogin
    form(action="/admin/login",method="post")
      input(type="text",name="user_id",value="saison")
      input(type="password",name="password",value="12345678")
      input(type="submit",value="Admin Login")
