extend layout_admin

block content
  h2 Admin Login
  
  .row
    #adminLogin.col-xs-12
      form(action="/admin/login",method="post")
        .form-group.col-xs-5
          label(for="userId") UserId
          input#userId.form-control(type="text",name="user_id",value="saison")
        .form-group.col-xs-5
          label(for="pass") Password
          input#pass.form-control(type="password",name="password",value="12345678")
        .form-group.col-xs-12
          input.btn.btn-primary(type="submit",value="Admin Login")
