doctype html
html
  head
    meta(charset="UTF-8")
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet')
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/css/admin.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
    //- script(type='text/javascript', src='/js/seeThru.min.js')
    //- script(src="/js/admin_live_movie.js")
    //- script(src="/js/admin.js")
    script(src="/js/admin_live_socket.js")
    script(src="/js/admin_tw_search.js")
    title= title
  body
    aside
      ul#videoController
        li
          span.glyphicon.glyphicon-pause
        li
          span.glyphicon.glyphicon-play
      ul#volCntl
        li
          span.glyphicon.glyphicon-plus-sign
        li
          span.glyphicon.glyphicon-minus-sign
    block content
