extends layout_admin_live

block content
  #bgStage
    img#bg2(src="/images/liveBgImg2.png", alt="")
    img#bg1(src="/images/liveBgImg1.png", alt="")
  #liveBg
    #movieBox
      video#liveVideo(onended='this.play();', autoplay='autoplay', loop='loop')
        source(src='/media/hal.mp4', type='video/mp4')
    #heatLevel.level1
    #livePeople
      #default
        img(src="/images/livePeople.png", alt="livepepole")
      #leftPeople
        img(src="/images/livePeople.png", alt="livepepole")
      #rightPeople
        img(src="/images/livePeople.png", alt="livepepole")
    #kashi High And Loud
