extends layout_admin_live

block content
  //- #bgStage
  //-   img#bg2(src="/images/liveBgImg2.png", alt="")
  //-   img#bg1(src="/images/liveBgImg1.png", alt="")
  #liveCall
  #liveBg
    #movieBox
      video#liveVideo(src='/media/hal12.mp4', loop='loop', autoplay)
    #heatLevel.level1
    #livePeople
      #default
        img(src="/images/livePeople.png", alt="livepepole")
      #leftPeople
        img(src="/images/livePeople.png", alt="livepepole")
      #rightPeople
        img(src="/images/livePeople.png", alt="livepepole")
    #kixmixTweet
      #twLogo
        i.fa.fa-twitter.fa-2x
      #content
        h3#name KixMix
        p#tweet KixMixを拡散して盛り上げよう！「#kixmix」
