@import "compass";
@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);


$white: #ffffff;

html,body{
  height: 100%;
}
#bgStage{
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  img{
    text-align: center;
    width: 100%;
    height: 100%;
  }
  #bg1{
    display: block;
    position: absolute;
  }
  #bg2{
    display: block;
    position: absolute;
  }
}

#liveCall{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 30;
  .callText{
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    @include text-shadow(0 0 1px #000);
    color: $white;
  }
}

#liveBg{
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
#movieBox{
  position: relative;
  z-index: 3;
  video{
    width: 100%;
  }
  .seeThru-display{
    width: 100%;
    height: auto;
  }
  .seeThru-buffer{
    width: 100%;
    height: auto;
  }
}

#heatLevel{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 4;
  opacity: 1;
}

.level1{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.9) 99%)
  );
}

.level2{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(150, 248, 255, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(150, 248, 255, 0.9) 99%)
  );
}

.level3{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(72, 169, 255, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(72, 169, 255, 0.9) 99%)
  );
}

.level4{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 250, 103, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 250, 103, 0.9) 99%)
  );
}

.level5{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 160, 76, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 160, 76, 0.9) 99%)
  );
}

.levelMax{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 65, 65, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 65, 65, 0.9) 99%),
    linear-gradient(top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 65, 65, 0.9) 99%)
  );
}



#livePeople{
  width: 100%;
  bottom: 0px;
  text-align: center;
  position: absolute;
  z-index: 5;
  #default{
    img{
      width: 70%;
      height: auto;
    }
  }
  #rightPeople,
  #leftPeople{
    display: none;
    width: 60%;
    position: absolute;
    z-index: 6;
    bottom: -15px;
    img{
      width: 60%;
    }
  }
  #leftPeople{
    left: -150px;
  }
  #rightPeople{
    right: -150px;
  }
}

/* #kashi{
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  @include text-shadow(0 0 2px #fff);

  position: absolute;
  z-index: 6;
  bottom: 50px;
}
 */

aside{
  width: 100px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;

  opacity: 0;
}

#videoController{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 51;
  li{
    position: absolute;
    top: 50px;
    left: 25px;
    color: $white;
    span{
      font-size:40px;
    }
    &:last-child{
      display: none;
    }
  }
}
#volCntl{
  position: fixed;
  left: 25px;
  top: 100px;
  z-index: 51;
  li{
    color: $white;
    margin-bottom: 10px;
    span{
      font-size:40px;
    }
  }
}

#kixmixTweet{
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #00aced;
  text-align: left;
  position: fixed;
  z-index: 100;
  bottom: 0;
  #twLogo{
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 50px;
    margin-right: 50px;
    i{
      display: inline-block;
      vertical-align: middle;
      color: $white;
    }
  }
  #content{
    float: left;
    height: 40px;
    line-height: 40px;
    color: $white;
    #name{
      float: left;
      height: 40px;
      line-height: 40px;
      margin-right: 50px;
      font-size: 20px;
      font-weight: bold;
      position: relative;
    }
    #tweet{
      float: left;
      position: relative;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
    }
  }
}
