@import "compass";
@import "compass/reset";
html,body{
  height: 100%;
}
#bgStage{
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  img{
    text-align: center;
    width: 100%;
    height: 100%;
  }
  #bg1{
    display: block;
    position: absolute;
  }
  #bg2{
    display: block;
    position: absolute;
  }
}

#liveBg{
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
#movieBox{
  position: relative;
  z-index: 3;
  video{
    width: 100%;
  }
  .seeThru-display{
    width: 100%;
    height: auto;
  }
  .seeThru-buffer{
    width: 100%;
    height: auto;
  }
}

#heatLevel{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 4;
  opacity: 1;
}

.level1{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.9) 99%)
  );
}

.level2{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(150, 248, 255, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(150, 248, 255, 0.9) 99%)
  );
}

.level3{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(72, 169, 255, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(72, 169, 255, 0.9) 99%)
  );
}

.level4{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 250, 103, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 250, 103, 0.9) 99%)
  );
}

.level5{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 160, 76, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 160, 76, 0.9) 99%)
  );
}

.levelMax{
  @include background(
    linear-gradient(left top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 65, 65, 0.9) 99%),
    linear-gradient(right top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 65, 65, 0.9) 99%),
    linear-gradient(top, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 65, 65, 0.9) 99%)
  );
}



#livePeople{
  width: 100%;
  bottom: -15px;
  text-align: center;
  position: absolute;
  z-index: 5;
  #default{
    img{
      width: 70%;
      height: auto;
    }
  }
  #rightPeople,
  #leftPeople{
    display: none;
    width: 60%;
    position: absolute;
    z-index: 6;
    bottom: -15px;
    img{
      width: 60%;
    }
  }
  #leftPeople{
    left: -150px;
  }
  #rightPeople{
    right: -150px;
  }
}

#kashi{
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  @include text-shadow(0 0 2px #fff);

  position: absolute;
  z-index: 6;
  bottom: 50px;
}
