@import "compass";
@import "compass/reset";

#liveBg{
  width: 100%;
  text-align: center;
  position: relative;
}
#movieBox{
  position: relative;
  z-index: 2;
}
#kashi{
  color: #fff;
  font-size: 35px;
  @include text-shadow(0 0 2px #fff);
  position: relative;
  z-index: 3;
  bottom: 50px;
}
