@import "compass";
@import "compass/reset";

$mainColor: rgba(30,30,30,0.9);
$white: #ffffff;
$acColor: #888888;
$BTcolor: #1abc9c;
$BT2color: #e67e22;
$fontS: 12px;
$fontM: 16px;
$fontL: 20px;
$font: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

html,body{
  height: 100%;
}
body {
  background: #eee;
  font-family: $font;
  font-size: 13px;
}

%clearfix{
  @include clearfix;
}

a {
  color: #00B7FF;
}

#warpper{
  width: 100%;
  min-width: 320px;
  margin-top: 45px;
}

header{
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  background: $mainColor;
  z-index: 5;
  h1{
    width: 100px;
    height: 45px;
    margin: auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/logo.png) no-repeat 0;
    background-size: 100%;
  }
}

#indexBack{
  background: linear-gradient(rgba(60, 60, 60, 0.6), rgba(60, 60, 60, 0.6)), url(../images/indexBack.jpg) -189px 0px;
  background-size: 240%;
}

article{
  max-width: 280px;
  min-width: 280px;
  margin: auto;
  p{
    color: $acColor;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  form{
    width: 100%;
    margin: auto;
    input[type="text"]{
      width: 98%;
      margin: 3% auto;
      padding: 1%;
      color: #aaaaaa;
      font-size: $fontL;
      background: transparent;
      border: none;
      border-bottom: 1px solid $acColor;
      @include border-radius(0px);
    }

    input[type="email"]{
      width: 97.5%;
      margin: 3% auto;
      padding: 5px;
      font-size: $fontL;
      background: transparent;
      border: none;
      border-bottom: 1px solid $acColor;
      @include border-radius(0px);
    }

    input[type="password"]{
      width: 97.5%;
      margin: 3% auto;
      padding: 5px;
      color: #aaaaaa;
      font-size: $fontL;
      background: transparent;
      border: none;
      border-bottom: 1px solid $acColor;
      @include border-radius(0px);
    }

    input[type="date"]{
      width: 97.5%;
      margin: 0% auto 3%;
      padding: 5px;
      font-size: $fontL;
      background: transparent;
      border: none;
      border-bottom: 1px solid $acColor;
      @include border-radius(0px);
    }

    input[type="submit"]{
      width: 100%;
      margin: 25px auto;
      padding: 6%;
      font-size: 16px;
      color: $white;
      background: $BTcolor;
      border: none;
      text-shadow: 0 1px 2px rgba(0,0,0,0.5);
      border-bottom: 2px solid #16a085;
      @include border-radius(4px);
      @include appearance(none);
    }

    #gender{
      margin-top: 8%;
      font-size: $fontL;
      input[type="radio"]{
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
      }
      label{
        display: inline-block;
        width: 50%;
        padding: 4%;
        background: $white;
        color: #3c3c3c;
        text-align: center;
        border: 1px solid $mainColor;
        @include box-sizing(border-box);
      }
      input[type="radio"]:checked + .switch-on {
        background-color: $mainColor;
        color: $white;
      }
      input[type="radio"]:checked + .switch-off {
        background-color: $mainColor;
        color: $white;
      }
    }

  }

  #snsLogin{
    width: 100%;
    margin: 5% auto;
    #fb{
      display: block;
      padding-bottom: 1px;
      color: $white;
      text-decoration: none;
      background: #297fb8;
      i{
        margin-right: 20%;
        padding: 6.5% 7.6% 4.5% 8.5%;
        border-right: 1px solid #19659f;
      }
      span{
        padding-top: 22px;
        position: absolute;
      }
    }
    #tw{
      display: block;
      position: relative;
      padding-bottom: 1px;
      color: $white;
      text-align: center;
      text-decoration: none;
      background: #3598dc;
      text-shadow: 0 1px 2px rgba(0,0,0,0.5);
      border-bottom: 2px solid #2980b9;
      @include border-radius(4px);
      i{
        padding: 12px 105px 12px 0px;
      }
      span{
        position: absolute;
        top: 20px;
        left: 105px;
      }
    }
  }
}

#kixmixCreate{
  margin: auto;
  a{
    display: block;
    padding: 6.6% 40px;
    color: $white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }
  .new{
    background-color: $BT2color;
    border-bottom: 2px solid #d35400;
    @include border-radius(4px);
  }
  .guest{
    margin: 5% auto;
    background-color: #4d4d4d;
    border-bottom: 2px solid #333333;
    @include border-radius(4px);
  }
}

#open{
  width: 25px;
  height: 20px;
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 10;
  @include transition(all 0.3s ease-in);
  span{
    display: inline-block;
    float: left;
    width: 100%;
    height: 2px;
    margin: 1px 0 5px;
    background-color: $white;
    @include transition( all 0.2s ease-out );
  }
  &.active{
    @include transform(rotate(180deg));
    span:nth-child(1){
      @include transform(rotate(45deg) translateX(11px) translateY(-6.5px));
      width: 60%;
    }
    span:nth-child(3){
      @include transform(rotate(-45deg) translateX(11px) translateY(6.5px));
      width: 60%;
    }
  }
}

aside{
  box-sizing: border-box;
  width: 250px;
  height: 100%;
  padding: 15px;
  background-color: $mainColor;
  color: $white;
  overflow: scroll;
  position: fixed;
  z-index: 20;
  top: 45px;
  h2{
    padding-bottom: 5px;
    font-size: $fontL;
    border-bottom: 1px dotted #5c5c5c;
  }
  ul{
    li{
      margin: 5%;
      a{
        display: block;
        padding: 5% 0;
      }
    }
  }
}

#joinLiveLists{
  li{
    width: 100%;
    height: 170px;
    overflow: hidden;
    &+li{
      border-top: solid 1px rgba(76, 76, 76, 0.9);
    }
    a{
      display: inline-block;
      width: 100%;
      height: 170px;
      text-decoration: none;
      color: $white;
      position: relative;
      .liveImg{
        width: 100%;
        position: absolute;
        z-index: 1;
        img{
          width: 100%;
          height: auto;
        }
      }
      .listBg{
        width: 100%;
        height: 170px;
        position: absolute;
        z-index: 2;
        @include background(
          linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 1%, rgba(0,0,0,0.8) 15%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%)
        );
      }
      @mixin liveInfoBlock(){
        @include box-sizing(border-box);
        display: inline-block;
        width: 100%;
        padding: 8px;
        position: absolute;
      }
      h3.liveTitle{
        width: 100%;
        font-size: 14px;
        word-break: break-all;
        z-index: 3;
        top: 0;
        @include liveInfoBlock;
      }
      .liveInfo{
        @include liveInfoBlock;
        bottom: 0;
        z-index: 3;
        @mixin liveInfoText(){
          @extend %clearfix;
          height: 20px;
          line-height: 20px;
          span{
            float: left;
            margin-right: 10px;
          }
          h4{
            float: left;
            display: inline-block;
            font-size: 12px;
            word-break: break-all;
          }
        }
        .place{
          @include liveInfoText;
          margin-bottom: 5px;
        }
        .time{
          @include liveInfoText;
        }
      }
    }
  }
}

// Live HeatLevelMap
#liveBg{
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  img{
    width: auto;
    height: 100%;
  }
}
#liveBgC{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
}
.liveWrapper{
  position: relative;
  z-index: 2;
}
#penLightMode{
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 10;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  i{
    font-size: 20px;
    color: $white;
  }
}
#liveHeatLevel{
  color: $white;
  @include text-shadow(0 0 3px $white);
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
  .heatLevelbox{
    @extend %clearfix;
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    .title{
      display: inline-block;
      float: left;
      margin-right: 20px;
      h3{
        height: 20px;
        line-height: 20px;
        font-size: 20px;
      }
      span.subTitle{
        display: inline-block;
        height: 20px;
        line-height: 20px;
        font-size: 15px;
        color: #c3c3c3;
      }
    }
    .countArea{
      float: right;
      vertical-align: bottom;
      .count{
        display: inline-block;
        margin-right: 5px;
        font-size: 25px;
      }
      span{
        font-size: 13px;
        margin-left: 10px;
      }
    }
    .levelArea{
      float: right;
      vertical-align: bottom;
      .level{
        font-size: 15px;
        span{
          font-size: 25px;
          margin-left: 5px;
        }
      }
    }
  }
  #heatGraph{
    width: 100%;
    height: 320px;
    #GraphTitle{
      h3{
        height: 20px;
        line-height: 20px;
        font-size: 20px;
      }
      span.subTitle{
        display: inline-block;
        height: 20px;
        line-height: 20px;
        font-size: 15px;
        color: #c3c3c3;
      }
    }
    #allAudienceLevel,#youerLevel{
      float: left;
      width: 50%;
      height: 320px;
      overflow: hidden;
      text-align: center;
      position: relative;
      .graph{
        width: 50%;
        position: absolute;
        left: 25%;
        bottom: 20px;
      }
      .title{
        width: 100%;
        height: 20px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        bottom: 0;
      }
    }
    #allAudienceLevel .graph{
      background-color: #ff813a;
      height: 50px;
    }
    #youerLevel .graph{
      background-color: #41c0f2;
    }
  }
}

#clap{
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: #f96363;
}

#landing{
  color: $white;
  #landingImg{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(68,45,87,0.6),rgba(68,45,87,0.6)),url(../images/landingImg.png);
    background-size: 100%;
    position: relative;
    a{
      color: $white;
      text-decoration: underline;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    h1{
      width: 80%;
      height: 65px;
      margin: auto;
      background-image: url(../images/logo.png);
      background-size: 100%;
      position: relative;
      top: 55px;
    }
    p{
      text-align: center;
      position: relative;
      top: 55px;
    }
  }

  %btBase{
    display: block;
    width: 70%;
    margin: auto;
    padding: 15px 0px;
    color: $white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    @include border-radius(4px);
  }

  .contents{
    color: $white;
    background-color: rgba(30,30,30,0.7);
    padding-bottom: 15px;
    #ex{
      padding: 25px;
      text-align: center;
    }
    a{
      @extend %btBase;
      background-color: $BT2color;
      border-bottom: 2px solid #d35400;
    }
  }

  #stepImg{
    width: 100%;
    padding: 20px 20px 0px;
    background-color: #3aa497;
    @include box-sizing(border-box);
    #ex{
      padding: 10px 0;
      text-align: center;
      line-height: 20px;
    }
    #title{
      width: 230px;
      height: 65px;
      margin: auto;
      background: url(../images/3stepSprite.png) no-repeat;
    }
  }

  #step1{
    margin: auto;
    padding: 20px;
    background: #0f2350;
    .title{
      width: 148px;
      height: 25px;
      margin: 0px auto 15px;
      background: url(../images/3stepSprite.png) no-repeat 0px -105px;
    }
    .cont{
      width: 280px;
      margin: auto;
      position: relative;
      .exImg{
        width: 102px;
        height: 173px;
        background: url(../images/3stepSprite.png) no-repeat -10px -140px;
        background-size: 500px;
      }
      .text{
        font-size: 14px;
        line-height: 20px;
        position: absolute;
        top: 50px;
        right: -10px;
      }
    }
  }
  #step2{
    background: #8e44ad;
    margin: auto;
    padding: 20px;
   .title{
      width: 128px;
      height: 25px;
      margin: 0px auto 15px;
      background: url(../images/3stepSprite.png) no-repeat -220px -105px;
    }
    .cont{
      width: 280px;
      margin: auto;
      position: relative;
      .exImg{
        width: 168px;
        height: 175px;
        background: url(../images/3stepSprite.png) no-repeat -154px -141px;
        background-size: 500px;
      }
      .text{
        font-size: 14px;
        line-height: 20px;
        position: absolute;
        top: 10px;
        right: 8px;
      }
    }
  }
  #step3{
    background: #f39c12;
    margin: auto;
    padding: 20px;
   .title{
      width: 135px;
      height: 25px;
      margin: 0px auto 15px;
      background: url(../images/3stepSprite.png) no-repeat -445px -105px;
    }
    .cont{
      width: 280px;
      margin: auto;
      position: relative;
      .exImg{
        width: 156px;
        height: 175px;
        background: url(../images/3stepSprite.png) no-repeat -344px -141px;
        background-size: 500px;
      }
      .text{
        font-size: 14px;
        line-height: 20px;
        position: absolute;
        top: 40px;
        right: -10px;
        text-align: right;
      }
    }
  }
  .foot{
    padding: 20px 0px;
    #in{
      @extend %btBase;
      margin-bottom: 20px;
      background-color: $BTcolor;
      border-bottom: 2px solid #16a085;
    }
    #new{
      @extend %btBase;
      background-color: $BT2color;
      border-bottom: 2px solid #d35400;
    }
  }
}

