@import "compass/css3";
@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

$mainColor: rgba(30,30,30,0.9);
$white: #ffffff;
$acColor: #888888;
$BTcolor: #33cc99;
$fontS: 12px;
$fontM: 16px;
$fontL: 20px;

body {
  font: 14px 'Noto Sans', sans-serif;
  background: #eee;
}

a {
  color: #00B7FF;
}

#warpper{
	width: 100%;
	min-width: 320px;
	margin-bottom: 19%;
}

header{
	width: 100%;
	height: 45px;
	position: fixed;
	top: 0;
	background: $mainColor;
	z-index: 5;
	h1{
		width: 100px;
		height: 45px;
		margin: auto;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background: url(../images/logo.png) no-repeat 0;
		background-size: 100%;
	}
}

h2,p{
	color: $acColor;
	text-align: center;
	font-size: 50px;
	margin: 5% 0;
}

form{
	width: 64%;
	margin: auto;
	input[type="text"]{
		width: 96%;
		margin: 5% auto;
		padding: 5px;
		font-size: $fontL;
		background: transparent;
		border: none;
		border-bottom: 1px solid $acColor;
		@include border-radius(0px);
	}

	input[type="mail"]{
		width: 96%;
		margin: 5% auto;
		padding: 5px;
		font-size: $fontL;
		background: transparent;
		border: none;
		border-bottom: 1px solid $acColor;
		@include border-radius(0px);
	}

	input[type="password"]{
		width: 96%;
		margin: 5% auto;
		padding: 5px;
		font-size: $fontL;
		background: transparent;
		border: none;
		border-bottom: 1px solid $acColor;
		@include border-radius(0px);
	}

	input[type="date"]{
		width: 96%;
		margin: 4% auto 5%;
		padding: 5px;
		font-size: $fontL;
		background: transparent;
		border: none;
		border-bottom: 1px solid $acColor;
		@include border-radius(0px);
	}


	input[type="submit"]{
		width: 100%;
		margin: 10% auto;
		padding: 6.7%;
		font-size: 16px;
		color: $white;
		background: $BTcolor;
		border: none;
		@include border-radius(0px);
		@include appearance(none);
	}

	#gender{
		margin-top: 8%;
		font-size: $fontL;
		input[type="radio"]{
			display: none;
			width: 0;
			height: 0;
			margin: 0;
			padding: 0;
		}
		label{
			display: inline-block;
			width: 50%;
			padding: 4%;
			background: $white;
			color: #3c3c3c;
			text-align: center;
			border: 1px solid $mainColor;
			@include box-sizing(border-box);
		}
		input[type="radio"]:checked + .switch-on {
			background-color: $mainColor;
			color: $white;
		}
		input[type="radio"]:checked + .switch-off {
			background-color: $mainColor;
			color: $white;
		}
	}

}

#snsLogin{
	width: 64%;
	margin: auto;
	padding: 5%;
	font-size: $fontS;
	#fb{
		display: block;
		padding-bottom: 1px;
		color: $white;
		text-decoration: none;
		background: #297fb8;
		i{
			margin-right: 18%;
			padding: 6.5% 7.6% 4.5% 8.5%;
			border-right: 1px solid #19659f;
		}
		span{
			margin-top: 7%;
			position: absolute;
			right: 21%
		}
	}
	#tw{
		display: block;
		padding-bottom: 1px;
		color: $white;
		text-decoration: none;
		background: #3598dc;
		i{
			margin-right: 18%;
			padding: 6.5% 5% 4.5% 6.3%;
			border-right: 1px solid #2484ce;
		}
		span{
			margin-top: 7%;
			position: absolute;
			right: 21%
		}
	}
}

#kixmixCreate{
	width: 64%;
	margin: auto;
	padding: 5%;
	a{
		display: block;
		text-align: center;
	}
}

#Umenu{
	input[type="button"]{
		width: 25px;
		height: 20px;
		background:url(../images/Umenu.png) no-repeat 0 0; 
		background-size: 100%;
		@include border-radius(0px);
		border: none;
		position: fixed;
		top: 1em;
		left: 1em;	
		z-index: 10;
	}
}

.liveInfo{
	a{
		display: block;
		width: 96%;
		min-width: 320px;
		height: 137px;
		padding: 2%;
		color: $white;
		text-decoration: none;
		background:-webkit-gradient(linear, 98% 0%, 6% 0%, from(transparent), to(#000000));
		position: absolute;
		z-index: 2;
	}
	.liveImg{
		width: 100%;
		min-width: 320px;
		height: 150px;
		position: absolute;
		background: url(../images/live01.jpg);
		background-size: 100%;
	}
	.place,.time{
		display: inline-block;
		position: absolute;
		margin-top: 60px;
	}

}




