@import "compass";
@import "compass/reset";

$mainColor: rgba(30,30,30,0.9);
$white: #ffffff;
$acColor: #888888;
$BTcolor: #33cc99;
$fontS: 12px;
$fontM: 16px;
$fontL: 20px;
$font: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

body {
  background: #eee;
  font-family: $font;
  font-size: 13px;
}

%clierfix{
  @include clearfix;
}

a {
  color: #00B7FF;
}

#warpper{
  width: 100%;
  min-width: 320px;
  margin-top: 45px;
}

header{
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  background: $mainColor;
  z-index: 5;
  h1{
    width: 100px;
    height: 45px;
    margin: auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/logo.png) no-repeat 0;
    background-size: 100%;
  }
}

article{
  max-width: 280px;
  min-width: 280px;
  margin: auto;
  p{
    color: $acColor;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  form{
    width: 100%;
    margin: auto;
    input[type="text"]{
      width: 98%;
      margin: 3% auto;
      padding: 1%;
      font-size: $fontL;
      background: transparent;
      border: none;
      border-bottom: 1px solid $acColor;
      @include border-radius(0px);
    }

    input[type="email"]{
      width: 97.5%;
      margin: 3% auto;
      padding: 5px;
      font-size: $fontL;
      background: transparent;
      border: none;
      border-bottom: 1px solid $acColor;
      @include border-radius(0px);
    }

    input[type="password"]{
      width: 97.5%;
      margin: 3% auto;
      padding: 5px;
      font-size: $fontL;
      background: transparent;
      border: none;
      border-bottom: 1px solid $acColor;
      @include border-radius(0px);
    }

    input[type="date"]{
      width: 97.5%;
      margin: 0% auto 3%;
      padding: 5px;
      font-size: $fontL;
      background: transparent;
      border: none;
      border-bottom: 1px solid $acColor;
      @include border-radius(0px);
    }


    input[type="submit"]{
      width: 100%;
      margin: 25px auto;
      padding: 6.7%;
      font-size: 16px;
      color: $white;
      background: $BTcolor;
      border: none;
      @include border-radius(0px);
      @include appearance(none);
    }

    #gender{
      margin-top: 8%;
      font-size: $fontL;
      input[type="radio"]{
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
      }
      label{
        display: inline-block;
        width: 50%;
        padding: 4%;
        background: $white;
        color: #3c3c3c;
        text-align: center;
        border: 1px solid $mainColor;
        @include box-sizing(border-box);
      }
      input[type="radio"]:checked + .switch-on {
        background-color: $mainColor;
        color: $white;
      }
      input[type="radio"]:checked + .switch-off {
        background-color: $mainColor;
        color: $white;
      }
    }

  }

  #snsLogin{
    width: 100%;
    margin: 5% auto;
    #fb{
      display: block;
      padding-bottom: 1px;
      color: $white;
      text-decoration: none;
      background: #297fb8;
      i{
        margin-right: 20%;
        padding: 6.5% 7.6% 4.5% 8.5%;
        border-right: 1px solid #19659f;
      }
      span{
        padding-top: 22px;
        position: absolute;
      }
    }
    #tw{
      display: block;
      padding-bottom: 1px;
      color: $white;
      text-decoration: none;
      background: #3598dc;
      i{
        margin-right: 25%;
        padding: 6.5% 5% 4.5% 6.3%;
        border-right: 1px solid #2484ce;
      }
      span{
        padding-top: 22px;
        position: absolute;
      }
    }
  }
}

#kixmixCreate{
  width: 64%;
  margin: auto;
  padding: 5%;
  a{
    display: block;
    text-align: center;
  }
}

#open{
  width: 25px;
  height: 20px;
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 10;
  @include transition(all 0.3s ease-in);
  span{
    display: inline-block;
    float: left;
    width: 100%;
    height: 2px;
    margin: 1px 0 5px;
    background-color: $white;
    @include transition( all 0.2s ease-out );
  }
  &.active{
    @include transform(rotate(180deg));
    span:nth-child(1){
      @include transform(rotate(45deg) translateX(11px) translateY(-6.5px));
      width: 60%;
    }
    span:nth-child(3){
      @include transform(rotate(-45deg) translateX(11px) translateY(6.5px));
      width: 60%;
    }
  }
}

aside{
  box-sizing: border-box;
  width: 250px;
  height: 100%;
  padding: 15px;
  background-color: $mainColor;
  color: $white;
  overflow: scroll;
  position: fixed;
  z-index: 20;
  top: 45px;
  h2{
    padding-bottom: 5px;
    font-size: $fontL;
    border-bottom: 1px dotted #5c5c5c;
  }
  ul{
    li{
      margin: 5%;
      a{
        display: block;
        padding: 5% 0;
      }
    }
  }
}

#joinLiveLists{
  li{
    width: 100%;
    height: 170px;
    overflow: hidden;
    &+li{
      border-top: solid 1px rgba(76, 76, 76, 0.9);
    }
    a{
      display: inline-block;
      width: 100%;
      height: 170px;
      text-decoration: none;
      color: $white;
      position: relative;
      .liveImg{
        width: 100%;
        position: absolute;
        z-index: 1;
        img{
          width: 100%;
          height: auto;
        }
      }
      .listBg{
        width: 100%;
        height: 170px;
        position: absolute;
        z-index: 2;
        @include background(
          linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 1%, rgba(0,0,0,0.8) 15%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%)
        );
      }
      @mixin liveInfoBlock(){
        @include box-sizing(border-box);
        display: inline-block;
        width: 100%;
        padding: 8px;
        position: absolute;
      }
      h3.liveTitle{
        width: 100%;
        font-size: 14px;
        word-break: break-all;
        z-index: 3;
        top: 0;
        @include liveInfoBlock;
      }
      .liveInfo{
        @include liveInfoBlock;
        bottom: 0;
        z-index: 3;
        @mixin liveInfoText(){
          @extend %clierfix;
          height: 20px;
          line-height: 20px;
          span{
            float: left;
            margin-right: 10px;
          }
          h4{
            float: left;
            display: inline-block;
            font-size: 12px;
            word-break: break-all;
          }
        }
        .place{
          @include liveInfoText;
          margin-bottom: 5px;
        }
        .time{
          @include liveInfoText;
        }
      }
    }
  }
}
