extends layout

block content
  article
    p
     | Sing up
    form(action="/new",method="post")
      input(type="text",placeholder="User ID",name="user_id",value="#{social.user_id}")
      br
      input(type="text",placeholder="User Name",name="username",value="#{social.username}")
      br
      input(type="email",placeholder="Mail",name="mail")
      br
      input(type="password",placeholder="Password",name="password")
      br
      input(type="password",placeholder="Check Password",name="passwordRetry")
      br
      p#gender
        input#on(type="radio",name="gender",value="0",checked="checked")
        label.switch-on(for='on') male
        input#off(type="radio",name="gender",value="1")
        label.switch-off(for='off') female
      input(type="date",name="birthday",value="1990-10-01")
      input(type="hidden",name="oauth_token",value="#{social.oauth_token}")
      input(type="hidden",name="oauth_verifier",value="#{social.oauth_verifier}")
      br
      input(type="submit",value="Sing up")
