extends layout_index

block content
  article
    p Sing in

    form(action="/login",method="post")
      input(type="text",name="user_id",placeholder="User ID",value="saison")
      br
      input(type="password",name="password",placeholder="Password",value="12345678")
      br
      input(type="submit",value="Sign in")
    #snsLogin
      a#fb(href="/auth/facebook")
        i.fa.fa-facebook.fa-2x
        span
          | Sign in with Facebook
      br
      a#tw(href="/auth/twitter") 
        i.fa.fa-twitter.fa-2x
        span
          | Sign in with Twitter


    #kixmixCreate
      a(href="/new") Create Account
    #kixmixCreate
      a(href="/guestlogin") guest
    
    #test
    a(href="/landing") Test landing
