extends layout_index

block content
  article

    p Sign in

    form(action="/login",method="post")
      input(type="text",name="user_id",placeholder="User ID")
      br
      input(type="password",name="password",placeholder="Password")
      br
      input(type="submit",value="ログイン")

    #kixmixCreate
      form(action="/guestlogin",method="post")
        input(type="text",name="guestName",placeholder="GuestName")
        input.guest(type="submit",value="GUESTログイン")

    #snsLogin
      //- a#fb(href="/auth/facebook")
      //-   i.fa.fa-facebook.fa-2x
      //-   span
      //-     | Facebookログイン
      br
      a#tw(href="/auth/twitter")
        i.fa.fa-twitter.fa-2x
        span
          | Twitterログイン

    #kixmixCreate
      a.new(href="/new") KIXMIX新規登録


    #test
      a(href="/landing") ランディングページ
