doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width initial-scale=1.0 user-scalable=no")
    link(rel='stylesheet', href='/css/style.css')
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
    script(src="/js/jquery-1.11.1.min.js")
    script(src="/js/jquery.easing.1.3.js")
    script(src="/js/sideMenu.js")
    title= title
  body
    #landing
      #landingImg
        a(href="/") Sing in
        h1
        p キミの想いがライブを変える

      .contents
        p#ex
          | KIXMIXは、ライブの為のサービスです。
          br
          | KIXMIXを使うことで、今までのライブをより一層
          | 楽しくさせることができます！
        p#ex(style="padding-top:0;")
          | またKIXMIXは、お持ちのスマートフォンから
          | 無料でカンタンに利用できるサービスです。
          br
          | 今すぐ利用したい方は、カンタン無料登録から、
          | すでにアカウントお持ちの方はログインしてください。
        a(href="/new") Create Account

      #stepImg
        #title
        p#ex 
         | KIXMIXは、3つのステップで
         br
         | "カンタン"に楽しめます！

      #step1
        .title
        .cont
          .exImg
          pre.text
            | まずはKIXMIXにアクセス！
            | その後、ログインまたは
            | 新規登録を行います。

      #step2
        .title
        .cont
          .exImg
          pre.text
            | ログインまたは新規登録が
            | 完了したら、自分が見たい
            | ライブを選択します。

      #step3
        .title
        .cont
          .exImg
          pre.text
            | 後は、振るだけ！！
            | スマートフォンを
            | 自由に振ってください！

      .foot
        a#in(href="/") Sing in
        a#new(href="/new") Create Account
