extends ../layout

block content
  ul#joinLiveLists
    - each live in lives
      li
        a(href="joinLives/join/#{live.live_id}")
          .liveImg
            img(src="/images/live02.jpg", alt="LiveImg")
          .listBg
          h3.liveTitle #{live.title}
          .liveInfo
            .place
              span.glyphicon.glyphicon-map-marker
              h4 #{live.place}
            .time
              span.glyphicon.glyphicon-calendar
              h4 #{live.date}

  a(href="/mypage") 戻る
