extends ../layoutLive

block content
  #liveHeatLevel(data-color="#ffffff")
    #audienceArea.heatLevelbox
      .title
        h3 来場者数
        span.subTitle -Audience-
      .countArea
        .count 1
        span 人
    #venueLevel.heatLevelbox
      .title
        h3 会場ヒートレベル
        span.subTitle -Venue Heat Level-
      .levelArea
        .level Level
          span 5
    #heatGraph
      #GraphTitle
        h3 ヒートグラフ
        span.subTitle -Heat Graph-
      #allAudienceLevel
        .graph
        .title 会場ヒートレベル
      #youerLevel
        .graph
        .title ヒートレベル貢献度
