extends ../layoutLive

block content
  h2 Hi! #{user.username}
  #wrapper(data-color="#ffffff")
    #debug
      #data1.data
        |gamma :
        span.num
      #data2.data
        |beta :
        span.num
      #data3.data
        |alpha :
        span.num
      #data4.data
        |zg :
        span.num
      #data5.data
        |yg :
        span.num
      #data6.data
        |xg :
        span.num
      #data7.data
        |z :
        span.num
      #data8.data
        |y :
        span.num
      #data9.data
        |x :
        span.num
      #data10.data
        |Shake Count :
        span.num
      #data11.data
        |#wrapper data :
        span.color
      #data12.data
        |flash point :
        span.flash
      #data13.data
        |Socket Log :
        span.socketLog
      #data14.data
        |to Server :
        span.toServer
      #data15.data
        |Location latitude :
        span.location
      #data16.data
        |Location longitude :
        span.location

  
